######################## NETWORKS
networks:
  default:
    driver: bridge
  docker_network:
    driver: bridge
    name: docker_network
    ipam:
      config:
        - subnet: ${SUBNET_DOCKER}
  socket_proxy:
    name: socket_proxy
    driver: bridge
    ipam:
      config:
        - subnet: ${SUBNET_PROXY}

######################## SERVICES
include:
  # CORE
  - compose/main/socket-proxy.yml  
  - compose/main/dockhand.yaml
  - compose/main/dozzle.yml
  - compose/main/homepage.yml
  - compose/main/apprise-api.yml
  - compose/main/uptime_kuma.yml
  # NETWORKS
  - compose/main/wg-easy15.yml
  - compose/main/pihole.yml
  # DOWNLOADERS
  - compose/main/sabnzbd.yml
  # MEDIA
  - compose/main/jellyfin.yml
  - compose/main/jellyseerr.yml
  - compose/main/sonarr.yml
  - compose/main/radarr.yml
  - compose/main/bazarr.yml
  - compose/main/recyclarr.yml
  # - compose/main/fileflows.yml
  # - compose/main/readarr.yml
  - compose/main/prowlarr.yml
  # - compose/main/mkvtoolnix.yml
  - compose/main/filebrowser.yml
  # MUSIC
  - compose/main/navidrome.yml
  - compose/main/trilium.yml
  # VPN CONTAINERS
  - compose/main/gluetun.yml
  # - compose/main/qbittorrent.yml
  - compose/main/tubearchivist.yml
  - compose/main/metube.yml
  # HOME AUTOMATION
  - compose/main/homeassistant.yml
  - compose/main/paperless.yml
  # 3D Printing
  # - compose/main/fluidd.yml
